.center {
  text-align: center;
}

body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 font-family: 'Quicksand', sans-serif;
}

.nav {
  text-align: center
}

.nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 30px;
    overflow: hidden;
    background-color: "white";
}
.nav li {
    float: left;
    padding: 14px;
}

.nav li a {
    outline-color: black;
    outline-width: 2px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    outline-color: black;
    outline-width: 2px;
    color: black;
    outline-style: solid;
}

.projects {
  padding-bottom: 30px;
  display:block;
  margin-left: 50%;
  margin-right: auto;
}


.projects ul {
    list-style-type: none;
    padding: 0;
    margin-left: -175px;
    width: 350px;
    background-color: #f1f1f1;
    text-align: center;

}

.projects li a {
    display: block;
    color: #000;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;

}

/* Change the link color on hover */
.projects li a:hover {
    background-color: #555;
    color: white;
}
h1 {
  text-align: center;
  padding-bottom: 2%;
}

#about{
  font-size: 11pt;
  text-align: justify;
  margin: auto;
  max-width: 500px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    width: 100%;
    background-color: transparent;

}
@media (max-width: 700px) {
  .nav li a{
    padding: 7px 8px;
    font-size: 10pt;
  }

  #about{
    font-size: 10pt;
    text-align: justify;
    margin: auto;
    width: 90%;
  }
}
